@import "tailwindcss";

body {
  font-family: var(--font-larken), "Larken", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.tsf-font-larken {
  font-family: var(--font-larken), "Larken", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tsf-font-larken-medium {
  font-family: var(--font-larken), "Larken", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tsf-font-public-sans {
  font-family: var(--font-public-sans), "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
